.navbar{
	background-color: lightgray;

}
.navbar-header div a{
	text-decoration:none;
	font-size: 1.5em;

}


.navbar-brand a{
	color:black;
}



#nav-list a:hover {
	background: white;

}
#nav-list li{
	text-align: center;

}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid black;
}

#main-section{
	background-color: lightgray;

}
#Ourmenu{
	margin-bottom: 20px;

}
#main-section p{
	padding: 15px;

}

@media (max-width: 767px){
	#main-section{
		width: 80%;
	}
}